[user]
	name = Esa Nuurtamo
	email = esa.nuurtamo@gmail.com
[http]
	sslVerify = true
	postBuffer = 524288000
[core]
	excludesfile = /Users/Esa/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	showUntrackedFiles = all
